<header>
    <app-encabezado-navbar></app-encabezado-navbar>
</header>
<div class="card mat-card" id="first-card">
    <div id="profile-background" class="profile-background">
        <img class="background-image" src="../assets/images/ImagenDeFondo.jpg" alt="background-image">
    </div>
    <div id="info" class="info">
        <div id="info-image" class="info-image">
            <img src="../assets/images/Foto-de-Perfil.jpg" alt="profile-image" class="profile-image">
            <div class="btn-edit">
                <a href="#" class="btn-right">
                    <i class="fa fa-pen"></i>
                </a>
            </div>
        </div>
        <div id="info-data" class="info-data">
            <div class="info-data-personal">
                <h1>{{miPorfolio.name}}</h1>
                <div id="info-company" class="info-company">Desarrollador Fullstack</div>
                <div id="info-contact" class="info-contact">
                    <span>Formosa,Formosa (Argentina)</span>
                    <span><a href="#">Informacion de contacto</a></span>
                </div>
            </div>
            <div class="info-data-study">
                <ul id="info-details" class="info-details">

                    <div>
                        <li><a href="#">
                                <img src="../assets/images/coder-house.svg" alt="">
                                <h2>CoderHouse</h2>
                            </a></li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="info-buttons">
        <button class="btn btn-primary">Tengo interés en</button>
        <button class="btn btn-light">Añadir sección</button>
        <button class="btn btn-light">Mas</button>
    </div>