 .fondo {
    background-color: #343a40;
}
.colortext{
    color: rgb(228, 222, 222);
    
} 
.tamañoimg {
  margin-right: 20px;
  height: 30px;
}

.Logintext{
    color: rgba(13, 126, 13, 0.5);
    
}


